$dark-blue: #1C658C;
$light-blue: #398AB9;
$dark-grey: #D8D2CB;
$light-grey: #EEEEEE;

.navbar-custom{
    background-color: $dark-grey;
    a {
        color: $dark-blue;
        &:hover{
            color: $light-blue;
        }
        &.active {
            font-weight: 700;
        }
    }
}

.custom-toggler .navbar-toggler-icon{
	background-image: url('../../../assets/hamburger.svg');
}

.btnsNavBar {
    background-color: transparent;
    padding: 0;
    border: none;
    img {
        width: 40px;
        height: 40px;
    }
}

.mr-5 {
    margin-right: 5em;
}