<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/logo-menu.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/listado" routerLinkActive="active">Películas</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mr-5">
                <li class="nav-item">
                    <a class="nav-link text-end" routerLink="/registro" routerLinkActive="active">Registrarse</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/carrito">
                        <button class="btnsNavBar position-relative" id="btnCarrito" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <img src="../../../assets/cart.svg" class="btnsColor">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cuentaCarrito"></span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
