<div class="container">
    <p class="fs-2 text-center my-5">Carrito</p>
    <div class="col-lg-6 mx-auto mb-4 box" *ngFor="let element of cartData">
        <p class="fs-5">{{element.title}}</p>
        <p>Cantidad: {{element.count}}</p>
        <p>Precio: {{element.price}}</p>
        <button type="button" class="btn btn-primary" (click)="deleteItem(element)">Eliminar</button>
    </div>
    <div class="col-lg-6 mx-auto" *ngIf="calculateTotal() == 0">
        <p class="fs-4">No ha añadido nada al carrito.</p>
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="fs-4">Total: ${{calculateTotal()}}</p>
    </div>
    <div class="col-lg-6 mx-auto" *ngIf="calculateTotal() > 0"> 
        <button type="button" class="btn btn-primary" (click)="shop()">Comprar</button>
    </div>
</div>