<div class="container">
    <p class="fs-2 text-center my-5">Usuarios</p>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsersData">
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.birthDate}}</td>
            <td>{{user.password}}</td>
            <td>
                <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editBtnClicked(user)">Modificar</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addNewBtnClicked()">Agregar nuevo</button>
</div>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle de usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="cancel" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm">
                <div class="col-lg-12 mb-3">
                    <label for="userId" class="form-label">ID de usuario</label>
                    <input type="text" class="form-control" id="userId" formControlName="userId" [readonly]="true">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" formControlName="username">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="birthDate" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addUser()" *ngIf="showAddBtn">Agregar</button>
          <button type="button" class="btn btn-warning" (click)="editUser()" *ngIf="showEditBtn">Modificar</button>
        </div>
      </div>
    </div>
</div>