/* You can add global styles to this file, and also import other style files */
.box {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D8D2CB;
    padding: 0.75rem 0.75rem;
    margin: 0 0.75em;
}

.btnsColor {
    filter: invert(35%) sepia(21%) saturate(1399%) hue-rotate(157deg) brightness(95%) contrast(103%);
}