<div class="container">
    <div class="row mx-auto my-5">
        <p class="fs-3 text-center mb-5">{{movieInfo.title}}</p>
        <div class="col-lg-6 text-center align-self-center">
            <img src="{{moviePosterPath+movieInfo.poster_path}}">
        </div>
        <div class="col-lg-6 align-self-center">
            <span class="fs-5">Descripción:</span>
            <p>{{movieInfo.overview}}</p>
            <span class="fs-5">Fecha de estreno:</span>
            <p>{{movieInfo.release_date}}</p>
            <span class="fs-5">Duración:</span>
            <p>{{movieInfo.runtime}} minutos</p>
            <span class="fs-5">Género: </span>
            <p>{{movieInfo.genres}}</p>
            <span class="fs-5">Audio:</span>
            <p>{{movieInfo.original_language}}</p>
            <span class="fs-5">Precio: </span>
            <p>$4000</p>
        </div>
    </div>
</div>
