<div class="container">
    <div class="row mx-auto my-5">
        <p class="fs-3 text-center">{{movieInfo.title}}</p>
        <p class="fs-5 fst-italic text-center mb-5">{{movieInfo.tagline}}</p>
        <div class="col-lg-6 text-center align-self-center">
            <img src="{{moviePosterPath+movieInfo.poster_path}}">
        </div>
        <div class="col-lg-6 align-self-center">
            <h5>Descripción:</h5>
            <p>{{movieInfo.overview}}</p>
            <h5>Fecha de estreno:</h5>
            <p>{{movieInfo.release_date | date: 'dd-MM-yyyy'}}</p>
            <h5>Duración:</h5>
            <p>{{movieInfo.runtime}} minutos</p>
            <h5>Géneros: </h5>
            <span class="d-block" *ngFor="let genre of movieInfo.genres">{{genre.name}}</span>
            <h5 class="mt-3">Audio:</h5>
            <p>{{audioMapper(movieInfo.original_language)}}</p>
            <h5>Precio por día: </h5>
            <p>${{movieInfo.price}}</p>
            <h5>Cantidad de días a alquilar: </h5>
            <div class="mb-3">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn btn-secondary me-2" for="option1">1</label>
                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-secondary me-2" for="option2">2</label>
                <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                <label class="btn btn-secondary me-2" for="option3">5</label>
                <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                <label class="btn btn-secondary me-2" for="option4">7</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="addToCart(movieInfo.id)">Agregar al carrito</button>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div #myToast role="alert" aria-live="assertive" aria-atomic="true" class="toast fade" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto fs-6">Producto agregado al carrito</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastContent">
        </div>
    </div>
</div>
